/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #445161;
  font-size: 30px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  .hi {
    padding: 50px 0;
    background-color: #445162;
    .hi__row {
      display: flex;
      justify-content: space-between;
      .hi__body {
        color: #ffffff;
        padding: 0 20px 0 0;
      }

      .hi__image {
      }
      .hi__title {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
        font-size: 60px;
        font-weight: 400;
        margin: 0 0 40px 0;
      }
      .hi__list {
        li {
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
          font-size: 20px;
          font-weight: 400;
          margin: 0 0 15px 0;
          padding: 0 0 0 36px;
          background: url("../img/icons/icon.png") no-repeat;
          &:last-child {
            margin: 0;
          }
        }
      }
      img {
      }
    }
  }
}

.what {
  padding: 50px 0; /* отступы блоку */
}
.what__row {
  display: flex;
}
.what__image {
  flex: 0 0 430px; /* запрещаем растяжение, базис фмксированный */
}
.what__body {
  flex: 1 1 auto;
  padding: 0 0 0 38px;
  img {
  }
}
.what__title {
  margin: 0 0 35px 0;
}
.what__text {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
.what__text p {
  margin: 0 0 15px 0;
}
.what__text p:last-child {
  margin: 0;
}

.columns {
  padding: 50px 0 20px 0;
  background-color: #f5f5f5;
}

.columns__title {
  text-align: center;
  margin: 0 0 20px 0;
}

.columns__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.columns__column {
  flex: 0 1 50%;
  padding: 0 8px;
  margin: 0 0 30px 0;
}

.item__row {
  display: flex;
}

.item__image {
  flex: 0 0 200px;
}

.item__body {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.item__title {
  color: #445161;
  font-family: "Arial MT";
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 15px 0;
}

.item__text {
  color: #333333;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.vertical {
  padding: 60px 0;
  .container {
    .vertical__title {
      text-align: center;
      margin: 0 0 30px 0;
    }
    // контейнер чтоб не распадались элементы
    .vertical__body {
      max-width: 990px;
      margin: 0px auto;
      // border: 1px solid red;
      // флекс контейнер
      .vertical__row {
        display: flex;
        margin: 0px -22.5px; /* задаем расстояние между колонками */
        // border: 1px solid green;
      }
      .vertical__column {
        padding: 0px 22.5px; /* возращаем назад */
        flex: 0 1 33, 333%; /* ширина колонки */
        display: flex;
      }
      .vertical__column_1 {
        // align-self: center;
        // border: 1px solid black;
      }
      .vertical__item {
        border: 1px solid #445162;
        background-color: #445162;
        border-radius: 5px;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 20px 0px;
      }
      .vertical__subtitle {
        text-align: center;
        padding: 15px 0px;
        font-size: 24px;
        text-transform: uppercase;
      }
      .vertical__label {
        text-align: center;
        background-color: #fff;
        padding: 12px 0px;
        font-size: 40px;
        color: #445162;
      }
      .vertical__text {
        padding: 20px;
        font-size: 16px;
        line-height: 24px;        
        flex: 1 1 auto;
      }
      .vertical__btn {
        display: block;
        margin: 0px 20px;
        text-align: center;
        line-height: 40px;
        background-color: #fff;
        border-radius: 5px;
        color: #445161;
        font-size: 18px;
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
    .vertical__column.vertical__column_2 {
      
      .vertical__text {
        p {
          margin: 0px 0px 15px 0px;
          &:last-child{
            margin: 0px;
          }
        }
      }
      .vertical__btn {
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
    .vertical__column.vertical__column_3 {
      .vertical__item {
      }
      .vertical__title {
      }
      .vertical__label {
      }
      .vertical__text {
      }
      .vertical__btn {
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
  }
}


  .footer {
    background-color: #f5f5f5;
    .container {
      .footer__row {
        display: flex;
        height: 65px;
        justify-content: center;
        align-items: center;
        .footer__text {
          color: #445161;
          font-size: 12px;
          letter-spacing: 0.3px;
        }
      }
    }
  }
